html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
  background: white; }

.container {
  height: 100%;
  width: 100%;
  max-height: 740px;
  top: 50%;
  margin-top: -370px;
  overflow: hidden;
  position: absolute;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px; }

.bg {
  height: 200%;
  position: absolute;
  top: 0;
  left: -100%;
  -webkit-transform: rotateX(45deg);
  -moz-transform: rotateX(45deg);
  -ms-transform: rotateX(45deg);
  -o-transform: rotateX(45deg);
  transform: rotateX(45deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 300%; }
  .bg:before, .bg:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 300%; }
  .bg:before {
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 65, color-stop(40%, #d0d1d3), color-stop(65%, #ffffff));
    background: -webkit-radial-gradient(#d0d1d3 40%, #ffffff 65%);
    background: -moz-radial-gradient(#d0d1d3 40%, #ffffff 65%);
    background: -o-radial-gradient(#d0d1d3 40%, #ffffff 65%);
    background: radial-gradient(#d0d1d3 40%, #ffffff 65%);
    background-size: 14px 14px;
    height: 300%;
    left: -100%;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg); }
  .bg:after {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(60%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(top center, #ffffff 0%, rgba(255, 255, 255, 0) 60%);
    background: -moz-linear-gradient(top center, #ffffff 0%, rgba(255, 255, 255, 0) 60%);
    background: -o-linear-gradient(top center, #ffffff 0%, rgba(255, 255, 255, 0) 60%);
    background: linear-gradient(top center, #ffffff 0%, rgba(255, 255, 255, 0) 60%);
    left: 0;
    height: 200%;
    right: 0;
    top: -60%; }

.seven {
  background: white;
  border-radius: 120px;
  height: 512px;
  margin-left: -256px;
  margin-top: -256px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 512px; }
  .seven:before {
    background: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(30%, #c71f1f), color-stop(40%, #a24b92), color-stop(50%, #3791ea), color-stop(60%, rgba(33, 47, 127, 0))), -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(10%, #67e1c9), color-stop(40%, #60b6cf), color-stop(60%, #1f7acb), color-stop(80%, #212f7f));
    background: -webkit-linear-gradient(left bottom, #c71f1f 30%, #a24b92 40%, #3791ea 50%, rgba(33, 47, 127, 0) 60%), -webkit-linear-gradient(left, #67e1c9 10%, #60b6cf 40%, #1f7acb 60%, #212f7f 80%);
    background: -moz-linear-gradient(left bottom, #c71f1f 30%, #a24b92 40%, #3791ea 50%, rgba(33, 47, 127, 0) 60%), -moz-linear-gradient(left, #67e1c9 10%, #60b6cf 40%, #1f7acb 60%, #212f7f 80%);
    background: -o-linear-gradient(left bottom, #c71f1f 30%, #a24b92 40%, #3791ea 50%, rgba(33, 47, 127, 0) 60%), -o-linear-gradient(left, #67e1c9 10%, #60b6cf 40%, #1f7acb 60%, #212f7f 80%);
    background: linear-gradient(left bottom, #c71f1f 30%, #a24b92 40%, #3791ea 50%, rgba(33, 47, 127, 0) 60%), linear-gradient(left, #67e1c9 10%, #60b6cf 40%, #1f7acb 60%, #212f7f 80%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    content: "7";
    font: lighter 512px/1 "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", Roboto, Arial, Sans-serif;
    position: absolute;
    left: 124px;
    top: 0;
    -webkit-text-fill-color: transparent; }

@media only screen and (max-width: 350px) {
  .container {
    margin-top: 0;
    height: 100%; }

  .seven {
    width: 300px;
    height: 300px;
    margin-left: -150px;
    border-radius: 80px;
    margin-top: -150px; }
    .seven:before {
      font-size: 300px;
      left: 70px; } }
