html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
  background: black; }

.background-container {
  width: 100%;
  height: 740px;
  top: 50%;
  margin: -370px auto 0;
  position: absolute;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  overflow: hidden; }

.background {
  width: 300%;
  height: 200%;
  position: absolute;
  left: -100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(45deg);
  -moz-transform: rotateX(45deg);
  -ms-transform: rotateX(45deg);
  -o-transform: rotateX(45deg);
  transform: rotateX(45deg); }
  .background:before {
    content: "";
    position: absolute;
    width: 300%;
    height: 300%;
    bottom: 0;
    left: -100%;
    background: -webkit-radial-gradient(#d0d1d3 40%, white 65%);
    background-size: 14px 14px;
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg); }
  .background:after {
    content: "";
    position: absolute;
    left: 0;
    top: -60%;
    right: 0;
    bottom: 0;
    width: 300%;
    height: 200%;
    background: -webkit-gradient(linear, center top, center bottom, color-stop(0%, white), color-stop(60%, rgba(255, 255, 255, 0))); }

.container {
  width: 512px;
  height: 512px;
  position: absolute;
  left: 50%;
  margin-left: -256px;
  top: 50%;
  margin-top: -256px;
  background: white;
  border-radius: 120px;
  overflow: hidden; }
  .container span.text {
    font-family: "HelveticaNeue-UltraLight", "Helvetica Neue UltraLight", Roboto, Arial, Sans-serif;
    font-size: 512px;
    font-weight: lighter;
    position: absolute;
    top: 0;
    left: 124px; }
    .container span.text.part1 {
      background: -webkit-gradient(linear, left top, right top, color-stop(0%, #67e1c9), color-stop(10%, #67e1c9), color-stop(40%, #60b6cf), color-stop(60%, #1f7acb), color-stop(80%, #212f7f));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    .container span.text.part2 {
      background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #c71f1f), color-stop(30%, #c71f1f), color-stop(40%, #a24b92), color-stop(50%, #3791ea), color-stop(60%, rgba(33, 47, 127, 0)));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }

@media only screen and (max-width: 350px) {
  .container {
    width: 300px;
    height: 300px;
    margin-left: -150px;
    border-radius: 80px;
    margin-top: -150px; }
    .container span.text {
      font-size: 300px;
      left: 70px; } }
